<launch>
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <rosparam>
      inverted_lazer: false
      throttle_scans: 2
      base_frame: base_link
      map_frame: map
      odom_frame: odom
      map_update_interval: 5
      maxUrange: 4.9
      sigma: 0.05
      kernelSize: 1
      lstep: 0.05
      astep: 0.05
      iterations: 2
      lsigma: 0.075
      ogain: 3.0
      lskip: 0
      minimumScore: 0.0
      srr: .1
      srt: .2
      str: .1
      stt: .2
      linearUpdate: 0.2
      angularUpdate: 1.0
      temporalUpdate: -1
      resampleThreshold: 0.5
      particles: 10
      xmin: -21.0
      ymin: -21.0
      xmax: 21.0
      ymax: 21.0
      delta: 0.04
      llsamplerange: 0.01
      llsamplestep: 0.01
      lasamplerange: 0.005
      lasamplestep: 0.005
      transform_publish_period: 0.1
      occ_thresh: .25
      maxRange: 5.0
    </rosparam>
  </node>
</launch>
